<h1>Actors</h1>

<th><%= image_tag("https://cdn3-www.comingsoon.net/assets/uploads/2018/11/IMG_4690.jpg", size: "900x500") %></th>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Character</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.name %></td>
      <td><%= actor.character %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br><br><%= link_to 'Home Page', root_path %>