<h1 class="text-header" data-qa="movies-page-header">MOVIES</h1>

<div class="pic"><%= image_tag(@movie.poster, size: "500x700") %></div>

<table class="content-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Synopsis</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @movie.title %></td>
      <td><%= @movie.release_date %></td>
      <td><%= @movie.synopsis %></td>
    </tr>
  </tbody>
</table>