<h1 class="text-header" data-qa="episodes-page-header">EPISODES</h1>

<div class="pic"><%= image_tag("episodes/episodes.png", size: "900x500") %></div>

<table class="content-table">
  <thead>
    <tr>
      <th>Title Card</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= image_tag(episode.title_card, size: "200x125") %></td>
        <td><%= link_to episode.title, episode_path(Episode.find_by(id: episode.id)), class: "episode-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>