<h1>Batman The Animates Series</h1>

<table>
  <thead>
  <tr>
    <th>Welcome</th>
  </tr>
  <tr>
    <th><%= image_tag("https://wallpaperaccess.com/full/1795416.jpg", size: "900x500") %></th>
  </tr>
  </thead>
</table>