<h1 class="text-header" data-qa="characters-page-header">CHARACTERS</h1>

<div class="pic"><%= image_tag("characters/characters.png", size: "900x500") %></div>

<table class="content-table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Alter Ego</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= image_tag(character.avatar, size: "200x125") %></td>
        <td><%= link_to character.alter_ego, character_path(Character.find_by(id: character.id)), class: "character-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
