<p id="notice"><%= notice %></p>

<h1 class="text-header">CREATE NEW CHARACTER</h1>

<div class="pic"><%= image_tag("characters/empty_profile.png", size: "450x250") %></div>

<div class="content-form form-whole"><%= render 'form', album: @character %></div>