* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    grid-area: header;
    background-color: #B20000;
    text-align: center;
    font-size: 50px;
    font-family: PlazaW01-Regular;
}

.nav li {
    display: inline-block;
}

/* Grid container */

.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'text-header text-header text-header text-header text-header text-header'
            'pic pic pic pic pic pic'
            'content content content content content content'
            'footer footer footer footer footer footer';
    grid-column-gap: 10px; /* if you want gap between the columns */
    grid-row-gap: 16px;
}

.text-header {
    grid-area: text-header;
    text-align: center;
    font-family: PlazaW01-Regular;
    font-size: 100px;
    font-weight: bold;
}

.pic {
    grid-area: pic;
    text-align: center;
}

.content-table {
    grid-area: content;
    text-align: center;
}

.content-form {
    grid-area: content;
}

/* Links */

a:link {
    color: white;
    text-decoration:none;
    text-shadow: 2px 2px #000000;
}

a:visited {
    color: white;
    text-decoration:none;
}

a:hover {
    color: black;
    text-decoration:none;
    text-shadow: 2px 2px #FFFFFF;
}

a:active {
    color: white;
    text-decoration:none;
}

a.character-link:link, a.episode-link:link, a.movie-link:link {
    font-family: PlazaW01-Regular;
    font-size: 50px;
    color: black;
    text-decoration:none;
    text-shadow: 2px 2px #FFFFFF;
}

a.character-link:visited, a.episode-link:visited, a.movie-link:visited {
    color: black;
    text-decoration:none;
}

a.character-link:hover, a.episode-link:hover, a.movie-link:hover {
    color: white;
    text-decoration:none;
    text-shadow: 2px 2px #000000;
}

a.character-link:active, a.episode-link:active, a.movie-link:active {
    color: white;
    text-decoration:none;
    text-shadow: 2px 2px #000000;
}

/* Tables */

table, th, td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 3px solid black;
    text-align: center;
    padding: 5px;
    margin: auto;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #B20000;
    color: white;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Forms */

.form-whole {
    background-color: #f2f2f2;
    width: 25%;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}

.form-label {
    font-size: 25px;
}

/* Footer */

.footer {
    grid-area: footer;
    background-color: #B20000;
    text-align: center;
    color:white;
    font-family: PlazaW01-Regular;
    font-size: 20px;
}